<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Params:</strong>
  
  <%= 'product name'%>
  <%= @order.product_name %>
  <%= 'amount' %>
  <%= @order.amount %>
  <%= 'price' %>
  <%= products_url %>
  <%= 'note' %>
  <%= @order.note %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
