<div class="well">

  <div class="grid-x">
    <div class="medium-4">
      <h4><%= product.name %></h4>
    </div>
    <div class="medium-8">
      <%= form_for order_item, remote: true do |f| %>
        <div class="grid-x">
          <div class="medium-4">
            <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency order_item.unit_price %></span></h4>
          </div>
          <div class="medium-3">
            <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
            <%= f.hidden_field :product_id, value: product.id %>
          </div>
          <div class="medium-3 text-right">
            <div class="button-group">
              <%= f.submit "Update Quantity", class: "button tiny warning" %>
              <%= link_to "Delete", order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.name}' from your cart?" }, method: :delete, remote: true, class: "button tiny alert" } %>
            </div>
          </div>
          <div class="medium-2">
            <h4 class="text-right">Total Price: <span style="color: green"><%= number_to_currency order_item.total_price %></span></h4>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
